<%- include ("partials/header")%>
    <div class='ui main text container segment' id='form'>
        <div class="ui huge header">
            <%= blog.title %>
        </div>
        <div class="ui top attached segment" id='top'>
            <img src="<%=blog.image%>" alt="">
            <p>
                <%= blog.body %>
            </p>
        </div>
    </div>
    <%- include ("partials/footer")%>